body {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  background-color: #ffffff;
  color: #303030;
  margin: 0;
}

input {
  -webkit-appearance: none;
}


.visually-hidden {
  display: none;
}

input[type=email],
input[type=password],
input[type=tel],
input[type=text],
textarea {
  appearance: none;
  outline: 0;
}

.main-header {
  position:fixed;
  /* top: 0;
  left: 0; */
  background-color:#7965ad;
  margin: 0;
  z-index: 5; 
  width: 100%;
}

.main-header__content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1920px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 4.2%;
  box-sizing: border-box;
}

.main-header__title {
  display: flex;
  align-items: center;
}

.main-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 260px;
  height: 145px;
}

.hashtag {   
  text-decoration: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #f7bf2f;
  opacity: 0.87;
}

.main-header__hashtag {
  opacity: 0;
}

.main-nav {
  width: 740px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__link {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.02em;
  padding: 0 15px 4px;
  cursor: pointer;
}

.main-nav__link::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 16px;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.main-nav__link:hover::after,
.main-nav__link:active::after {
  background-color: #f2c03f;
}

.switch-lang {
  display: flex;
  align-items: center;
}

.switch-lang__button {
  background-color: transparent;
  position: relative;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #ffffff;
  outline: none;
}

.switch-lang__button:hover {
  color: #f2c03f;
}

.switch-lang__button::after {
  content: "";
  display: block;
  width: 9px;
  height: 6px;
  position: absolute;
  right: -10px;
  top: 7px;
  background-image: url("../img/triangle-white.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.switch-lang__list {
  display: none;
  width: 112px;
  height: 92px;
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  background-color: #ffffff;
}

.switch-lang__item {
  width: 100%;
  border-bottom: 1px solid rgba(48, 48, 48, 0.1);
  /* padding-top: 19px;
  padding-bottom: 10px; */
}

.switch-lang__item label {
  position: relative;
  display: block;
  width: 100%;
  cursor: pointer;
  padding-left: 51px;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: #303030;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.switch-lang__item label::before {
  content: "";
  display: block;
  width: 35px;
  height: 26px;
  position: absolute;
  left: 13px;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center;
  transition: filter 0.3s ease;
}

.switch-lang__item label::after {
  content: "";
  display: block;
  width: 12px;
  height: 9px;
  position: absolute;
  left: 95px;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center;
}

.switch-lang__item:last-child {
  border: none;
}

label[for="rus"]::before {
  background-image: url("../img/flag_ru.svg");
}

label[for="eng"]::before {
  background-image: url("../img/flag_us.svg");
}

.switch-lang__item input:checked + label::after {
  background-image: url("../img/mark-lang.svg");
}

.preview {
  width: 100%;
  margin: 0 auto;
  display: flex;
  margin: 0;
  position: relative;
  width: 100%;
  background: url("../img/main-overlay.svg");
  background-repeat: no-repeat;
  background-position: top 64% left;
  background-color: #7965ad;
  overflow: hidden;
}

.preview__wrapper {
  display: flex;
  position: relative;
  width: 100%;
  padding: 305px 10px 48px 40px;
  max-width: 1920px;
  margin: 0 auto;
}

.preview__text-block {
  width: 997px;
  padding-left: 105px;
}

.preview__hashtag {
  font-size: 24px;
  line-height: 29px;
  color: #f2c03f;
  margin: 0;
  margin-bottom: 40px;
}

.preview__headline {
  width: 100%;
  font-weight: 700;
  font-size: 72px;
  line-height: 79px;
  color: #fff5f5;
  margin: 0;
  margin-bottom: 70px;
}

.preview__ticket-reservation-link-arrow {
  background-image: url("../img/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.preview__img {
  display: block;
  position: relative;
  right:230px;
  /* top: 17px; */
  bottom: 0;
}

.preview__image {
  position: relative;
  margin-top: 27px;

}

.preview__image {
  display: block;
  border: 10px solid #f2c03f;
  box-sizing: border-box;
  width: 645px;
  height: 878px;
  box-sizing: border-box;

}

.info-list {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 120px;
  list-style: none;
}

.info-list__item {
  position: relative;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  color: #ffffff;
  padding-right: 32px;
  padding-left: 104px;
  opacity: 0.74;
}

.info-list__item p {
  margin: 0;
}

.info-list__item::after {
  content:"";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 48px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 44px 44px;
  width: 44px;
  height: 44px;
}

.info-list__item--time {
  padding-left: 57px;
}

.info-list__item--time::after {
  background-image: url("../img/calendar.svg");
  left: 0;
}

.info-list__item--address::after {
  background-image: url("../img/location.svg");
}


.info-list__item--winner::after {
  background-image: url("../img/present.svg");
}

.info-list__item:last-child {
  border: none;
}

.preview__ticket-reserve {
  display: flex;
  margin-bottom: 140px;
}

.preview__button,
.popup__reserve-button {
  display: block;
  position: relative;
  width: 407px;
  height: 93px;
  background-color: #ffffff;
  text-decoration: none;
  color: #303030;
  text-transform: uppercase;
  text-align: center;
  padding: 35px 133px 10px 10px;
  box-sizing: border-box;
  margin-bottom: 140px;
}

.preview__button:hover,
.popup__reserve-button:hover {
  color: #f2c03f;
}

.preview__button::after,
.popup__reserve-button::after{
  content:"";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
  width: 107px;
  height: 93px;
  background-color: #f2c03f;

}

.preview__toggles {
  position: relative;
  top: 830px;
  right: 100px;
}

.social-list {
  display: flex;
  list-style: none;  
  margin: 0;
  padding: 0;
}

.social-list__link {
  text-decoration: none;
}

.social-list__link:hover svg {
  fill:red;
}

.social-list__item {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  margin-right: 20px;
}

.numbers__numeral {
  color: #ffffff;
}

.numbers__numeral--active {
  font-weight: 700;
}

.number {
  position: absolute;
  width: 22px;
  bottom: 0;
  left: 29px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.number::after,
.number::before {
  display: block;
  position: absolute;
  left: 11px;
  width: 1px;
  background-color: #303030;
  opacity: 0.5;
  content: "";
}

.number::before {
  top: 0;
  height: 40%;
}

.number::after {
  bottom: 0;
  height: 40%;
}

.number--preview::after,
.number--preview::before {
  background-color: #ffffff;
}

.number__wrapper {
  width: 179px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transform: rotate(-90deg) translateX(5px);
}

.number__count {
  width: 60px;
  height: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.number__numeral {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #303030;
  opacity: 0.87;
}

.number__numeral--active {
  font-weight: 700;
}

.number--preview .number__numeral {
  color: #ffffff;
}

.number__toggles {
  width: 42px;
  height: 28px;
  margin-left: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.number__toggle {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  position: relative;
  width: 10px;
  height: 20px;
  overflow: hidden;
  transition: width 0.1s ease, height 0.1s ease;
}

.number__toggle::after {
  display: block;
  position: absolute;
  content: "";
  top: 50%;
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: 1px solid transparent;
  border-top: 1px solid #303030;
  transition: border 0.1s ease;
}

.number__toggle--left::after {
  left: 6px;
  transform: translateY(-50%) rotate(-45deg);
  border-left: 1px solid #303030;
}

.number__toggle--right::after {
  right: 6px;
  transform: translateY(-50%) rotate(45deg);
  border-right: 1px solid #303030;
}

.number--preview .number__toggle::after {
  border-top: 1px solid #ffffff;
}

.number--preview .number__toggle--left::after {
  border-left: 1px solid #ffffff;
}

.number--preview .number__toggle--right::after {
  border-right: 1px solid #ffffff;
}

.number__toggle[href]:hover {
  width: 14px;
  height: 28px;
  cursor: pointer;
}

.number__toggle[href]:hover::after {
  border-top: 1px solid #f2c03f;
}

.number__toggle--left[href]:hover::after,
.toggles__arrow--left:hover::after {
  border-left: 1px solid #f2c03f;
}

.number__toggle--right[href]:hover::after {
  border-right: 1px solid #f2c03f;
}

.number.number--participants {
  position: relative;
  bottom: 100px;
  left: 0;
  top: -300px;
}


.toggles {
  width: 42px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggles--model {
  width: 38px;
}

.toggles__arrow {
  padding: 0;
  background: 0 0;
  border: 0;
  cursor: pointer;
  outline: 0;
  color: inherit;
  position: relative;
  width: 10px;
  height: 20px;
  overflow: hidden;
  transition: width 0.1s ease, height 0.1s ease;
}

.toggles__arrow::after {
  display: block;
  position: absolute;
  content: "";
  top: 50%;
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: 1px solid transparent;
  transition: border 0.1s ease;
}

.toggles__arrow--left::after {
  left: 6px;
  transform: translateY(-50%) rotate(-45deg);
  border-top: 1px solid grey;
  border-left: 1px solid grey;
}

.toggles__arrow--right::after {
  right: 6px;
  transform: translateY(-50%) rotate(45deg);
  border-top: 1px solid grey;
  border-right: 1px solid grey;
}

.toggles__arrow--right:hover::after {
  border-right: 1px solid #f2c03f;
}

.toggles__arrow:hover {
  width: 14px;
  height: 28px;
}

.toggles__arrow:hover::after {
  border-top: 1px solid #f2c03f;
}

.toggles--model .toggles__arrow {
  width: 13px;
  height: 22px;
  opacity: 0.16;
  transition: opacity 0.1s ease, width 0.1s ease, height 0.1s ease;
}

.toggles--model .toggles__arrow::after {
  border-top: 2px solid #303030;
}

.toggles--model .toggles__arrow:hover {
  opacity: 1;
  width: 17px;
  height: 30px;
}

.toggles--model .toggles__arrow--left::after {
  border-left: 2px solid #303030;
}

.toggles--model .toggles__arrow--left:hover::after {
  border-left: 2px solid #f2c03f;
}

.toggles--model .toggles__arrow--right::after {
  border-right: 2px solid #303030;
}

.toggles--model .toggles__arrow--right:hover::after {
  border-right: 2px solid #f2c03f;
}

.toggles--model .toggles__arrow:hover::after {
  border-top: 2px solid #f2c03f;
}

.slider__wrapper {
  /* width: 100%; */
  position: relative;
  display: flex;
  align-items: center;
  max-width: 1700px;
  margin: 0 0 0 auto;
  padding: 0 71px;
}

.slider__slider-toggle {
  position: absolute;
  top: 40.5%;
  transform: translateY(-50%);
}

.slider__slider-toggle--left {
  left: 0;
}

.slider-toggle {
  padding: 0;
  background: 0 0;
  border: 0;
  cursor: pointer;
  outline: 0;
  color: inherit;
  position: relative;
  width: 32px;
  height: 64px;
  overflow: hidden;
  opacity: 0.16;
  transition: opacity 0.1s ease, width 0.1s ease, height 0.1s ease;
}

.slider-toggle::after {
  display: block;
  position: absolute;
  content: "";
  top:50%;
  width: 80px;
  height: 80px;
  background-color: transparent;
  border: 2px solid transparent;
  border-top: 2px solid #303030;
  transition: border 0.1s ease;
}

.slider-toggle--left::after {
  left: 17px;
  transform: translateY(-50%) rotate(-45deg);
  border-left: 2px solid #303030;
}

.slider-toggle--left:hover::after {
  border-left: 2px solid #f2c03f;
}

.slider-toggle--right::after {
  right: 17px;
  transform: translateY(-50%) rotate(45deg);
  border-right: 2px solid #303030;
}

.slider-toggle--right:hover::after {
  border-right: 2px solid #f2c03f;
}

.slider-toggle:hover {
  opacity: 1;
  width: 40px;
  height: 80px;
}

.slider-toggle:hover::after {
  border-top: 2px solid #f2c03f;
}


.headline {
  font-weight: 700;
  font-size: 72px;
  line-height: 91px;
  letter-spacing: 0.03em;
  color: #1c1515;
  opacity: 0.87; 
  margin: 0;
  padding: 0;
}

.participants {
  width: 1920px;
  margin: 0 auto;
  padding: 173px 77px 25px 69px;
  box-sizing: border-box;
}

.participants__headline {
  margin-bottom: 40px;  
} 

.participants__participants-list {
  width: 1700px; 
  position: relative;
  /* padding-left: 115px;
  padding-right: 85px; */
  box-sizing: border-box;
}


.participants-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;

}

.participants-list__model {
  margin-right: 77px;
}

.participants-list__model:nth-child(3) {
  margin: 0;
}

.model__img,
.judges__img {
  display: block;
  margin: 0;
}

.model__direction {
  position: relative;
  width: 29px;
}

.model__text {
  position: absolute;
  width: 397px;
  height: 17px;
  left: -220px; 
  bottom: -230px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 2px;  
  text-transform: uppercase;
  color: #303030;
  opacity: 0.32;
  transform: rotate(-90deg);
  margin: 0;
  padding: 0;
}

.model__text--avangard {
  bottom: -280px;  
}

.model__photo--second {
  margin-top: 45px;
}

.model__toggles.toggles {
  position: relative;
  bottom: -15px;
  left: 410px; 
}


.stylist {
  position: relative;
  top: -50px;
  left: -20px;
  width: 420px;
  padding-top: 10px;
  padding-bottom: 19px;
  padding-left: 24px;
  padding-right: 18px;
  background-color: #f4f4f4;
  box-sizing: border-box;
}

.stylist__wrapper,
.stylist__wrapper-bottom {
  display: flex;
  width: 300px;
}

.stylist__wrapper-bottom {
  padding-left: 76px;
  width: 300px;
  justify-content: space-between;
}

.stylist__photo {
  margin-right: 14px;
 }

 .stylist__photo--second {
   margin-top: 45px;
 }

.stylist__name {
  width: 120px;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: 0.03em;
  color: #303030;
  margin: 0;
}

.stylist__country {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #303030;
  opacity: 0.32;
  margin: 0;
}

.social {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.social__item {
  width: 24px;
  height:24px;
}

.stylist__social.social__item {
  margin-bottom: 0;
}

.judges {
  width: 1920px;
  margin: 0 auto;
  padding: 173px 77px 25px 69px;
}

.judges__items {
  width: 1700px;
  position: relative;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.judges__item {
  position: relative;
  z-index: 1;
  width: 454px;
  margin-right: 65px;
}

.judge__item::after {
  width: 454px;
  height: 552px;
  top: 81px;
  left: 15px;
  border: 4px solid rgba(245, 208, 111, 0.54);
}

.judges__item:nth-child(3) {
  margin-right: 0;
}

.judges__wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.judges__border {
  width: 455px;
  height: 553px;
  border: 4px solid rgba(245, 208, 111, 0.54);
  position: absolute;
  top: 25px;
  left: 25px; 
  z-index: -1;
  box-sizing: border-box;
}

.judges__info {
  width: 455px;
  padding-top: 40px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 26px;
  background-color: #f4f4f4;
  box-sizing: border-box;
}

.judges__headline {
  margin-bottom: 50px; 
}

.judges__name {
  width: 200px;
  font-weight: bold;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: 0.03em;
  color: #303030; 
  margin: 0;
  margin-bottom: 20px;
}

.judges__desc {
  font-size: 18px;
  line-height: 150%;
  color: #303030;
  opacity: 0.64;
  margin: 0;
  margin-bottom: 30px;
}

.judges__desc--first {
  width: 330px;
}

.judges__desc--second {
  width: 360px;
}

.judges__desc--third {
  width: 370px;
}

.judges__country {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #303030;
  opacity: 0.32;
}

.tickets {
    position: relative;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 194px 24px 312px 7.45%;
}

.tickets__headline {
  margin-bottom: 95px;
}

.tickets__text {
  font-size: 18px;
  line-height: 150%;
  color: #303030;
  opacity: 0.87;
  margin: 0;
  margin-bottom: 24px;
}

.tickets__wrapper {
  display: flex;

}

.tickets__column {
  width: 480px;
  margin-right: 100px;
}

.judges__social {
  display: flex;
  justify-content: flex-end;
}

.tickets__table {
  width: 940px;
  border: 1px solid #f2C03f;
  border-radius: 5px;
  border-collapse: collapse;
}

.tickets__row:nth-child(odd) {
  background: rgba(242, 192, 63, 0.1);
} 

 .tickets__row--large td {
   padding: 20px;
 }

 .tickets__phone {
   text-decoration: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 150%;
  color:  rgba(95, 75, 139, 0.87); 
  margin: 0;
}

.tickets__phone:hover {
  color: rgb(12, 79, 252);
}

.tickets__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #323C47;
  border: none;
}

.tickets__field {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #303030;
  opacity: 0.87;
  padding: 15px;
}

.tickets__field--available {
  background-image: url("../img/mark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.payments {
  width: 330px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tickets__payments {
  margin-bottom: 30px;
}

.rates {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.rates__item {
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 19px;
  height: 19px;
}

.contacts {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 190px 24px 84px 7.45%;
  position: relative;
}

.contacts__container {
  display: flex;
  margin-bottom: 130px;
}

.contacts__map {
  margin-right: 135px;
}

.contacts__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #303030;
  opacity: 0.32;
  margin: 0;
  margin-bottom: 25px;
}

.contacts__headline {
  margin-bottom: 90px;

}

.contacts__text {
  font-size: 18px;
  line-height: 150%;  
  color: #303030;
  margin: 0;
}

.contacts__question {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;
  color: #303030;
  margin: 0;
  margin-bottom: 60px;
}

.contacts__wrapper {
  display: flex;
  margin-bottom: 30px;
}

.contacts__column-right {
  width: 540px;
}

.contacts__column-left {
  margin-right: 50px;
}

.contacts__social {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts__map {
  position: relative;
  z-index: 1;
}

.contacts__map::after {
  content: "";
  width: 810px;
  height: 462px;
  border: 4px solid rgba(245, 208, 111, 0.54);
  position: absolute;
  top: 25px;
  left: 25px; 
  z-index: -1;
  box-sizing: border-box;
}

.contacts__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts__link  {
  text-decoration: none;
  color:  #303030;
}

.contacts__link--dashed {
  border-bottom: 1px dashed #303030;
}

.contacts__link:hover {
  color:  #0c4ffc;
  border: none;
}

.contacts__address,
.contacts__phone,
.contacts__social {
  width: 155px;
  margin-right: 70px;
}

.social-list {
  width: 88px;
  display: flex;
  justify-content: space-between;
}

.popup {
  margin: 0 auto;
  display: none;
}

.user-form__wrapper,
.popup__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.user-form__input,
.popup__input {
  border: none;
  border-bottom: 1px solid #afb4b9;
}

.user-form__label,
.popup__label,
.popup__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #303030;
  opacity: 0.32;
  margin-bottom: 15px;
}

.user-form__textarea {
  resize: none;
  border: none;
  border-bottom: 1px solid #afb4b9;
  padding-bottom: 60px;
}

.popup__radio-boxes {
  margin-bottom: 47px;
}

.user-form__input{
  padding-bottom: 20px;
}

.user-form__input--last {
  padding-bottom: 60px;
}


.button {
  width: 192px;
  background-color: #ffffff;
  color: #303030;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  border: 1px solid #d0d7dd;
  border-radius: 5px;
  padding: 12px;
  box-sizing: border-box;
}

.button--violet {
  border: transparent;
  color: #ffffff;
  background-color: rgba(95, 75, 139, 0.87);
  border-color: rgba(95, 75, 139, 0.87);
}

.button:hover {
  background-color: #f2c03f;
  border-color: #f2c03f;
  color: #ffffff;
}

.feedback-thanks__text,
.popup__text {
  width: 700px;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;
  color: #303030;
  margin:0;
  margin-bottom: 40px;
}

.popup__wrapper {
  width: 540px;
}

.popup__reserve-button--shadow {
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.popup__radio-boxes input {
  width: 24px;
  height: 24px;
  background: #ffffff;
  border: 1px solid #d0d7dd;  
  border-radius: 50%;
}

.popup__radio-boxes input:checked {
  background:rgba(95, 75, 139, 0.87);
  border-radius: 50%;
  background-image: url("../img/mark-white.svg");
  background-repeat: no-repeat;
  background-position: center;

}
/* .btn-close::after,
.btn-close::before {
  content: "";
  position: absolute;
  display: block;
  background-color: #7965ad;
} */

.btn-close {
  padding: 0;
  background: 0 0;
  border: 0;
  cursor: pointer;
  outline: 0;
  color: inherit;
  position: absolute;
  right: 51px;
  top: 51px;
  width: 22px;
  height: 22px;
  background-color: red;
}

.btn-close::after,
.btn-close::before {
  top: 50%;
  left: 50%;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  
}

.btn-close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.btn-close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.contacts__feedback-thanks,
.popup__thanks {
  position: relative;
  margin-bottom: 100px;
}

.popup__text p {
  margin: 0;
  margin-bottom: 40px;
}

.contacts__feedback-thanks::before,
.popup__thanks::before {
  position: absolute;
  top: -70px;
  left: 40px;
  display: block;
  content: "";
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #7965ad;
  background-image: url("../img/mark-big.svg");
  background-repeat: no-repeat;
  background-position: center;
} 

.popup__thanks::before {
  top: -80px;
  left: 0;
}



.popup__invalid {
  display: none;
}

.contacts__feedback-thanks {
  display: flex;
  width: 880px;
  padding: 48px 73px 47px 40px;
  background-color: #ffffff;
  /* display: none; */
  min-height: 434px;
  transform-origin: center;
  box-sizing: border-box;
} 

.feedback-thanks__btn-close {
  top: -60px;
  right: 0;
}

.feedback-thanks {
  display: none;
}