body {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  background-color: #ffffff;
  color: #303030;
  margin: 0;
}

.visually-hidden {
  display: none;
}

input[type=email],
input[type=password],
input[type=tel],
input[type=text],
textarea {
  appearance: none;
  outline: 0;
}

.main-header {
  background-color: rgba(95, 75, 139, 0.87);
  margin: 0;
}

.main-header__content-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1800px;
  margin: 0 auto;
  padding: 0 15px; 
}

.main-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 260px;
  height: 145px;
}

.main-nav{
  width: 740px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__link {
  text-decoration: none;
  color: #ffffff;
}

.switch-lang {
  display: flex;
  align-items: center;
}

.switch-lang__button {
  background-color: transparent;
  position: relative;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #ffffff;
  outline: none;
}

.switch-lang__button::after {
  content: "";
  display: block;
  width: 9px;
  height: 6px;
  position: absolute;
  right: -10px;
  top: 10px;
  background-image: url("../img/triangle-white.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.switch-lang__list {
  width: 112px;
  height: 92px;
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  background-color: #ffffff;
}

.switch-lang__item {
  width: 100%;
  border-bottom: 1px solid rgba(48, 48, 48, 0.1);
  /* padding-top: 19px;
  padding-bottom: 10px; */
}

.switch-lang__item label {
  position: relative;
  display: block;
  width: 100%;
  cursor: pointer;
  padding-left: 51px;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: #303030;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.switch-lang__item label::before {
  content: "";
  display: block;
  width: 35px;
  height: 26px;
  position: absolute;
  left: 13px;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center;
  transition: filter 0.3s ease;
}

.switch-lang__item label::after {
  content: "";
  display: block;
  width: 12px;
  height: 9px;
  position: absolute;
  left: 95px;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center;
}

.switch-lang__item:last-child {
  border: none;
}

label[for="rus"]::before {
  background-image: url("../img/flag_ru.svg");
}

label[for="eng"]::before {
  background-image: url("../img/flag_us.svg");
}

.switch-lang__item input:checked + label::after {
  background-image: url("../img/mark-lang.svg");
}

.preview {
  display: flex;
  background-color: rgba(95, 75, 139, 0.87);
  margin: 0;
}

.preview__wrapper {
  display: flex;
  flex-direction: row-reverse;
}

.preview__text-block {
  padding-top: 160px;
}

.preview__hashtag {
  font-size: 24px;
  line-height: 29px;
  color: #f2c03f;
  margin: 0;
  margin-bottom: 40px;
}

.preview__headline {
  width: 920px;
  font-weight: 700;
  font-size: 72px;
  line-height: 79px;
  color: #fff5f5;
  margin: 0;
  margin-bottom: 70px;
}

.preview__ticket-reservation-link-arrow {
  background-image: url("../img/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.preview__img {
  display: block;
}

.info-list {
  width: 843px;
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 120px;
}

.info-list__item {
  list-style: none;
  color: #ffffff;
  padding-left: 60px;
  height: 44px;
  border-right: 1px solid #ffffff;
}

.info-list__item--time {
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  width: 130px;
  margin: 0;
}

.info-list__item--address {
  background-image: url("../img/location.svg");
  background-repeat: no-repeat;
  padding-right: 57px;
  margin: 0;
}

.info-list__item--winner {
  background-image: url("../img/present.svg");
  background-repeat: no-repeat;
  border-right: none;
  margin: 0;
}

.preview__ticket-reserve {
  display: flex;
  margin-bottom: 140px;
}

.preview__button,
.popup__reserve-button {
  display: block;
  position: relative;
  width: 407px;
  height: 93px;
  background-color: #ffffff;
  text-decoration: none;
  color: #303030;
  text-transform: uppercase;
  text-align: center;
  padding: 35px 133px 10px 10px;
  box-sizing: border-box;
  margin-bottom: 140px;
}

.preview__button::after,
.popup__reserve-button::after{
  content:"";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
  width: 107px;
  height: 93px;
  background-color: #f2c03f;

}

.social-list {
  display: flex;
  list-style: none;  
  margin: 0;
  padding: 0;
}

.social-list__link {
  text-decoration: none;
}

.social-list__item {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  margin-bottom: 50px;
}

.social-list__item--fb {
  background-image: url("../img/icon-fb.svg");
}

.social-list__item--instagram {
  background-image: url("../img/icon-insta.svg");
}

.social-list__item--twitter {
  background-image: url("../img/icon-twitter.svg");
}

.numbers__numeral {
  color: #ffffff;
}

.numbers__numeral--active {
  font-weight: 700;
}

.headline {
  font-weight: bold;
  font-size: 72px;
  line-height: 91px;
  letter-spacing: 0.03em;
  color: #1c1515;
  opacity: 0.87; 
  margin: 0;
  padding: 0;
}

.participants__headline {
  margin-bottom: 40px;  
} 

.participants-list {
  list-style: none;
  display: flex;
  margin: 0;
}

.participants-list__model {
  margin-right: 77px;
}

.participants-list__model:nth-child(3) {
  margin: 0;
}

.model__img,
.judges__img {
  display: block;
  margin: 0;
}

.model__direction {
  position: relative;
  width: 29px;
}

.model__text {
  position: absolute;
  width: 397px;
  height: 17px;
  left: -220px; 
  bottom: -230px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 2px;  
  text-transform: uppercase;
  color: #303030;
  opacity: 0.32;
  transform: rotate(-90deg);
  margin: 0;
  padding: 0;
}

.model__photo--second {
  margin-top: 45px;
}

.stylist {
  position: relative;
  top: -50px;
  left: -20px;
  width: 420px;
  padding-top: 10px;
  padding-bottom: 19px;
  padding-left: 24px;
  padding-right: 18px;
  background-color: #f4f4f4;
  box-sizing: border-box;
}

.stylist__wrapper,
.stylist__wrapper-bottom {
  display: flex;
  width: 300px;
}

.stylist__wrapper-bottom {
  padding-left: 76px;
  width: 300px;
  justify-content: space-between;
}

.stylist__photo {
  margin-right: 14px;
 }

 .stylist__photo--second {
   margin-top: 45px;
 }

.stylist__name {
  width: 120px;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: 0.03em;
  color: #303030;
  margin: 0;
}

.stylist__country {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #303030;
  opacity: 0.32;
  margin: 0;
}

.social {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.social__item {
  width: 24px;
  height:24px;
}

.stylist__social.social__item {
  margin-bottom: 0;
}

.judges__items {
  display: flex;
  list-style: none;
}

.judges__item {
  margin-right: 65px;
}

.judges__item:nth-child(3) {
  margin-right: 0;
}


.judges__wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.judges__info {
  width: 455px;
  padding-top: 40px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 26px;
  background-color: #f4f4f4;
  box-sizing: border-box;
}

.judges__name {
  width: 200px;
  font-weight: bold;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: 0.03em;
  color: #303030; 
  margin: 0;
  margin-bottom: 20px;
}

.judges__desc {
  font-size: 18px;
  line-height: 150%;
  color: #303030;
  opacity: 0.64;
  margin: 0;
  margin-bottom: 30px;
}

.judges__desc--first {
  width: 330px;
}

.judges__desc--second {
  width: 360px;
}

.judges__desc--third {
  width: 370px;
}

.judges__country {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #303030;
  opacity: 0.32;
}

.tickets__text {
  font-size: 18px;
  line-height: 150%;
  color: #303030;
  opacity: 0.87;
  margin: 0;
  margin-bottom: 24px;
}

.tickets__wrapper {
  display: flex;

}

.tickets__column {
  width: 480px;
  margin-right: 100px;
}

.judges__social {
  display: flex;
  justify-content: flex-end;
}

.tickets__table {
  width: 940px;
  border: 1px solid #f2C03f;;
  border-radius: 5px;
  border-collapse: collapse;
}

.tickets__row:nth-child(2n) {
  background: rgba(242, 192, 63, 0.1);
}

.tickets__phone {
  font-weight: bold;
  font-size: 21px;
  line-height: 150%;
  color:  rgba(95, 75, 139, 0.87); 
  margin: 0;
}

.tickets__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #323C47;
}

.tickets__field {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #303030;
  opacity: 0.87;
  padding: 15px;
}

.tickets__field--available {
  background-image: url("../img/mark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.payments {
  width: 330px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tickets__payments {
  margin-bottom: 30px;
}

.rates {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.rates__item {
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 19px;
  height: 19px;
}

.contacts__container {
  display: flex;
}

.contacts__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #303030;
  opacity: 0.32;
  margin: 0;
}

.contacts__text {
  font-size: 18px;
  line-height: 150%;  
  color: #303030;
  margin: 0;
}

.contacts__question {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;
  color: #303030;
  margin: 0;
  margin-bottom: 50px;
}

.contacts__wrapper {
  width: 599px;
  display: flex;
  margin-bottom: 70px;
}

.contacts__column-right {
  width: 540px;
}

.contacts__column-left {
  margin-right: 50px;
}

.contacts__social {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-form__wrapper,
.popup__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.user-form__input,
.popup__input {
  border: none;
  border-bottom: 1px solid #afb4b9;
}

.user-form__label,
.popup__label,
.popup__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #303030;
  opacity: 0.32;
  margin-bottom: 15px;
}

.user-form__input{
  padding-bottom: 20px;
}

.user-form__input--last {
  padding-bottom: 60px;
}


.button {
  width: 192px;
  background-color: #ffffff;
  color: #303030;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  border: 1px solid #d0d7dd;
  border-radius: 5px;
  padding: 12px;
  box-sizing: border-box;
}

.button--violet {
  border: transparent;
  color: #ffffff;
  background-color: rgba(95, 75, 139, 0.87);
}

.popup__text,
.popup-feedback__text-thanks {
  width: 700px;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;
  color: #303030;
}

.popup__wrapper {
  width: 540px;
}

.popup__reserve-button--shadow {
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.popup__radio-boxes input {
  width: 24px;
  height: 24px;
  background: #ffffff;
  border: 1px solid #d0d7dd;  
  border-radius: 2px
}

.popup__radio-boxes input:checked {
  background:rgba(95, 75, 139, 0.87);
  border-radius: 2px;

}
